{% extends "my_first_app/base.html" %}

{% block app_navigation_items %}
  <li><a href="{% url 'my_first_app:home' %}">Home</a></li>
  <li><a href="{% url 'my_first_app:map' %}">Map</a></li>
{% endblock %}

{% block app_content %}
  <style>
    .img {
      text-align: center;
    }
  </style>
  <body>
      <div class="img">
        <h1>Impounded Waters in Utah</h1>
      </div>
      <p>The purpose of this site is to show the locations of all the dams in the state of Utah. On the map a point is used to mark the location of each dam. The watershed along with the major rivers in the area around each dam are also displayed. When a dam location is clicked a pop up box will appear displaying the name of the selected dam. From the home page, the map can be reached through the map button located at the left of the screen or the button in the bottom right hand corner of the page. </p>
      <div class="img">
        <img  src="https://upload.wikimedia.org/wikipedia/commons/e/e9/East_Canyon_Dam_Morgan_County_Utah.jpg" width="873" height="625">
      </div>
      <div class="img">
        <p2>East Canyon Dam located in Morgan, Utah.</p2>
      </div>
    <div class="img">
    <h3>Data Source</h3>
      <p>All of the data that was gathered to make this site possible were found on the Utah AGRC website: gis.utah.gov</p>
      <a href="http://gis.utah.gov/data/water-data-services/">Visit Utah AGRC!</a>
    </div>
  </body>
{% endblock %}

{% block app_actions %}
  <a href="{% url 'my_first_app:map' %}" class="btn btn-default">Go To Map</a>
{% endblock %}