{% extends "my_first_app/base.html" %}
{% block app_navigation_items %}
  <li><a href="{% url 'my_first_app:home' %}">Home</a></li>
  <li><a href="{% url 'my_first_app:map' %}">Map</a></li>
{% endblock %}

{% block app_content %}
  <link rel="stylesheet" href="http://www.hydromap.com/openlayers/OpenLayers3/resources/ol.css" type="text/css">
  <style>
  .map {
    height: 750px;
    width: 100%;
  }
  .popup {
    width: 200px;
  }
  </style>
  <script src="http://www.hydromap.com/openlayers/OpenLayers3/resources/ol.js" type="text/javascript"></script>

  <h1>Impounded Waters in Utah</h1>

  <div id="map" class="map" >
    <div id="popup" class="popup"></div>
  </div>

  <script type="text/javascript">
    var styleCache = {};
    var styleFunction = function(feature) {
      var name = feature.get('name');
      var magnitude = parseFloat(name.substr(2));
      var radius = 5 + 20 * (magnitude - 5);
      var style = styleCache[radius];
      if (!style) {
        style = [new ol.style.Style({
          image: new ol.style.Circle({
            radius: radius,
            fill: new ol.style.Fill({
              color: 'rgba(255, 153, 0, 0.4)'
            }),
            stroke: new ol.style.Stroke({
              color: 'rgba(255, 204, 0, 0.2)',
              width: 1
            })
          })
        })];
        styleCache[radius] = style;
      }
      return style;
    };

    var streams = new ol.layer.Vector({
      source: new ol.source.KML({
        projection: ol.proj.get('EPSG:3857'),
        url: '/static/my_first_app/kml/streams_with_dams/doc.kml'
      }),
      style: styleFunction
    });

    var watersheds = new ol.layer.Vector({
      source: new ol.source.KML({
        projection: ol.proj.get('EPSG:3857'),
        url: '/static/my_first_app/kml/watershed_with_dams/doc.kml'
      }),
      style: styleFunction
    });

    var dams = new ol.layer.Vector({
      source: new ol.source.KML({
        projection: ol.proj.get('EPSG:3857'),
        url: '/static/my_first_app/kml/dams/doc.kml'
      }),
      style: styleFunction
    });

    var raster = new ol.layer.Tile({
      source: new ol.source.MapQuest({
        layer: 'sat'
      })
    });

    var map = new ol.Map({
      layers: [raster, watersheds, streams, dams],
      target: 'map',
      view: new ol.View({
        center: ol.proj.transform([-111.592488, 39.588263], 'EPSG:4326', 'EPSG:3857'),
        zoom: 7
      })
    });

    var element = document.getElementById('popup');

    var popup = new ol.Overlay({
      element: element,
      positioning: 'bottom-center',
      stopEvent: false
    });
    map.addOverlay(popup);

    // display popup on click

    map.on('click', function(evt) {
      //try to destroy it before doing anything else...s
      $(element).popover('destroy');

      //Try to get a feature at the point of interest
      var feature = map.forEachFeatureAtPixel(evt.pixel,
          function(feature, layer) {
            return feature;
          }
      );

      //if we found a feature then create and show the popup.
      if (feature) {
        var geometry = feature.getGeometry();
        if (geometry.getType() === 'Point') {
          var coord = geometry.getCoordinates();
          popup.setPosition(coord);
          var displaycontent = '<b>Dam Name:</b> ' + feature.get('name');
          $(element).popover({
            'placement': 'top',
            'html': true,
            'content': displaycontent
          });
          $(element).popover('show');
        };

      } else {
        $(element).popover('destroy');
      }
    });

    // change mouse cursor when over marker
    var target = map.getTarget();
    var jTarget = typeof target === "string" ? $("#" + target) : $(target);
    // change mouse cursor when over marker
    $(map.getViewport()).on('mousemove', function (e) {
        var pixel = map.getEventPixel(e.originalEvent);
        var hit = map.forEachFeatureAtPixel(pixel, function () {
            return true;
        });
        var feature = map.forEachFeatureAtPixel(pixel,
          function(feature) {
          return feature;
        });
        if (feature) {
          var geometry = feature.getGeometry();
          if (hit && geometry.getType() === 'Point') {
            jTarget.css("cursor", "pointer");
          } else {
            jTarget.css("cursor", "");
          }
        } else {
          jTarget.css("cursor", "");
        };
    });

    var info = $('#info');
    info.tooltip({
      animation: false,
      trigger: 'manual'
    });

    var displayFeatureInfo = function(pixel) {
      info.css({
        left: pixel[0] + 'px',
        top: (pixel[1] - 15) + 'px'
      });
      var feature = map.forEachFeatureAtPixel(pixel, function(feature) {
        return feature;
      });
      if (feature) {
        info.tooltip('hide')
            .attr('data-original-title', feature.get('name'))
            .tooltip('fixTitle')
            .tooltip('show');
      } else {
        info.tooltip('hide');
      }
    };

    map.on('pointermove', function(evt) {
      if (evt.dragging) {
        info.tooltip('hide');
        return;
      }
      displayFeatureInfo(map.getEventPixel(evt.originalEvent));
    });

    map.on('click', function(evt) {
      displayFeatureInfo(evt.pixel);
    });
  </script>

{% endblock %}

{% block app_actions %}
  <a href="{% url 'my_first_app:home' %}" class="btn btn-default">Go To home</a>
{% endblock %}